In [2]:
%matplotlib inline 
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np 
import cufflinks as cf
import plotly.offline as py  
import plotly.graph_objs as go
cf.go_offline
py.init_notebook_mode
df_train=pd.read_csv("train_2v.csv",sep=",") 
df_test=pd.read_csv("test_2v.csv",sep=",")
df_train.head(15)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,52800,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,41413,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,15266,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,28674,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0
10,10460,Female,79.0,0,0,Yes,Govt_job,Urban,77.08,35.0,NaN,0
11,64908,Male,79.0,0,1,Yes,Private,Urban,57.08,22.0,formerly smoked,0
12,63884,Female,37.0,0,0,Yes,Private,Rural,162.96,39.4,never smoked,0
13,37893,Female,37.0,0,0,Yes,Private,Rural,73.50,26.1,formerly smoked,0
14,67855,Female,40.0,0,0,Yes,Private,Rural,95.04,42.4,never smoked,0

In [3]:
df_clean_train=df_train.dropna()
print(len(df_clean_train))
print(len(df_train))

29072
43400

In [4]:
g=df_clean_train["gender"].unique().tolist() 
print(g)
ev=df_clean_train["ever_married"].unique().tolist()
print(ev)
wt=df_clean_train["work_type"].unique().tolist()
print(wt)
rt=df_clean_train["Residence_type"].unique().tolist()
print(rt)
smt=df_clean_train["smoking_status"].unique().tolist() 
print(smt)

['Male', 'Female', 'Other']
['Yes', 'No']
['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked']
['Urban', 'Rural']
['never smoked', 'formerly smoked', 'smokes']

In [5]:
df_clean_train["gender"]=df_clean_train["gender"].astype("category").cat.codes
df_clean_train["ever_married"]=df_clean_train["gender"].astype("category").cat.codes 
df_clean_train["work_type"]=df_clean_train["work_type"].astype("category").cat.codes
df_clean_train["Residence_type"]=df_clean_train["Residence_type"].astype("category").cat.codes 
df_clean_train["smoking_status"]=df_clean_train["smoking_status"].astype("category").cat.codes

In [6]:
df_clean_train.head(15)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,30468,1,58.0,1,0,1,2,1,87.96,39.2,1,0
3,56543,0,70.0,0,0,0,2,0,69.04,35.9,0,0
6,52800,0,52.0,0,0,0,2,1,77.59,17.7,0,0
7,41413,0,75.0,0,1,0,3,0,243.53,27.0,1,0
8,15266,0,32.0,0,0,0,2,0,77.67,32.3,2,0
9,28674,0,74.0,1,0,0,3,1,205.84,54.6,1,0
11,64908,1,79.0,0,1,1,2,1,57.08,22.0,0,0
12,63884,0,37.0,0,0,0,2,0,162.96,39.4,1,0
13,37893,0,37.0,0,0,0,2,0,73.50,26.1,0,0
14,67855,0,40.0,0,0,0,2,0,95.04,42.4,1,0
15,25774,1,35.0,0,0,1,2,0,85.37,33.0,1,0
16,19584,0,20.0,0,0,0,2,1,84.62,19.7,2,0
17,24447,0,42.0,0,0,0,2,0,82.67,22.5,1,0
18,49589,0,44.0,0,0,0,0,1,57.33,24.6,2,0
19,17986,0,79.0,0,1,0,3,1,67.84,25.2,2,0

In [7]:
df_clean_train.columns
features=['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']
x=df_clean_train[features]
y=df_clean_train["stroke"]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 
from sklearn.tree import DecisionTreeClassifier
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35,stratify=y,random_state=315)
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9549921383647799

In [9]:
df_test.isnull().any()
df_cleaning_test=df_test.dropna()
df_cleaning_test["ever_married"]=df_cleaning_test["ever_married"].astype("category").cat.codes
df_cleaning_test["gender"]=df_cleaning_test["gender"].astype("category").cat.codes
df_cleaning_test["work_type"]=df_cleaning_test["work_type"].astype("category").cat.codes
df_cleaning_test["Residence_type"]=df_cleaning_test["Residence_type"].astype("category").cat.codes
df_cleaning_test["smoking_status"]=df_cleaning_test["smoking_status"].astype("category").cat.codes

In [1]:
df_cleaning_test.head(15)
df_cleaning_test["stroke"]=clf.predict(df_cleaning_test[features])

NameError: name 'df_cleaning_test' is not defined